.group, .bowling, .service, .pottery {
  height: 240px;
  width: 365px;
}

.group, .bowling, .service {
  margin-right: 12px;
}


.group {
  margin-left: 12px;
}


@media screen and (min-width: 300px) {
  .image-container {
    padding-top: 10em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    flex: 1;
  }

  .group, .bowling, .service, .pottery {
    height: 120px;
    width: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 600px) {
  .image-container {
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    flex: 1;
  }

  .group, .bowling, .service, .pottery {
    height: 150px;
    width: 250px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 800px) {
  .image-container {
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    flex: 1;
  }

  .group, .bowling, .service, .pottery {
    height: 150px;
    width: 225px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 1000px) {
  .image-container {
    padding-top: 10em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    flex: 1;
  }

  .group, .bowling, .service, .pottery {
    height: 200px;
    width: 275px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1500px) {
  .image-container {
    padding-top: 0em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    flex: 1;
  }

  .group, .bowling, .service, .pottery {
    height: 240px;
    width: 365px;
  }

  .group, .bowling, .service {
    margin-right: 5px;
  }

  .group {
    margin-left: 5px;
  }
}
